@charset "UTF-8";
.project-card .project-featured-image a {
  font-size: 0;
}
.project-card .project-featured-image a img {
  width: 100%;
  max-height: 12.5rem;
}
.project-card .project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.project-card .project-type {
  width: 100%;
}

.project .project-info,
.project .project-solution,
.project .project-process,
.project .project-problem {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.project .project-type,
.project .project-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.project progress {
  height: 2rem;
  background-color: green;
}
.project .project-process .project-process-design,
.project .project-process .project-process-development,
.project .project-process .project-process-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
.project .title {
  text-align: center;
  text-transform: uppercase;
}

.author-card.card {
  height: fit-content;
}
.author-card.card .left {
  grid-area: Left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.375rem;
  height: 100%;
}
.author-card.card .left .author-pic {
  width: 100%;
}
.author-card.card .left .author-pic a {
  font-size: 0;
}
.author-card.card .left .author-pic a img {
  width: 100%;
  height: auto;
}
.author-card.card .right {
  grid-area: Right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  height: 100%;
}
.author-card.card .right p {
  text-align: left;
  height: 100%;
}
.author-card.card .right button {
  align-self: center;
}

@media screen and (min-width: 700px) {
  .author-card.card {
    display: grid;
    grid-template-areas: "Left Right";
    grid-template-columns: 1fr 2fr;
  }
}
.project-type button h3 {
  text-transform: uppercase;
}

.project-tags .tag {
  background-color: unset;
  box-shadow: none;
  color: black;
}
.project-tags .tag:hover {
  background-color: black;
  color: white;
  border-radius: 1.5em;
}

details summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
details summary::after {
  content: "►"; /* Unicode arrow symbol */
  margin-left: 5px; /* Adjust the value as needed */
}
details summary::after {
  display: none;
}

.input-radio {
  width: fit-content;
  box-shadow: none;
}

.options-column {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.option label {
  margin: 0;
}
.option input.other,
.option .input-social {
  width: 50%;
}

.input-date {
  width: fit-content;
}

.input-url {
  width: 75%;
}

form td {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
form td label {
  text-transform: none;
  margin: 0 0 0.25em 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay .card.modal {
  position: unset;
}

.project-urls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.the-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.the-client .client-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.versions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
}
.versions h4 {
  text-transform: uppercase;
}

.checklist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}
.checklist span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.checklist span h4 {
  text-transform: capitalize;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 1000px;
}

.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  width: 100%;
}
.color-row .color {
  min-width: 40rem;
  height: 4rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 1000px;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
}
.gallery-row .photo {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=thfw-portfolio.css.map */
