@charset "UTF-8";
.project-card .project-featured-image a {
  font-size: 0;
}
.project-card .project-featured-image a img {
  width: 100%;
  max-height: 12.5rem;
}
.project-card .project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.project-card .project-type {
  width: 100%;
}

.author-card.card {
  gap: 0.374rem;
  height: fit-content;
  padding: 0;
}
.author-card.card .author-pic {
  width: 300px;
}
.author-card.card .author-pic a {
  font-size: 0;
}
.author-card.card .author-pic a div img {
  width: 100%;
  height: auto;
}
.author-card.card .author-role,
.author-card.card .author-bio,
.author-card.card .author-contact {
  width: 100%;
  padding: 0 0.5rem;
}
.author-card.card .author-role h5 {
  text-transform: capitalize;
}
.author-card.card p {
  text-align: left;
  height: 100%;
}
.author-card.card .author-contact button {
  background-color: white;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.author-card.card .author-contact button i {
  color: black;
}

.project-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}
.project-tags .tag-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  flex-wrap: wrap;
}
.project-tags .tag-row .tag {
  background-color: unset;
  box-shadow: none;
  color: black;
  font-weight: bold;
  border-radius: 15px;
}
.project-tags .tag-row .tag:hover {
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: var(--thfw-box-shadow);
}

details summary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
details summary::after {
  content: "►"; /* Unicode arrow symbol */
  margin-left: 5px; /* Adjust the value as needed */
}
details summary::after {
  display: none;
}

.input-radio {
  width: fit-content;
  box-shadow: none;
}

.options-column {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.option label {
  margin: 0;
}
.option input.other,
.option .input-social {
  width: 50%;
}

.input-date {
  width: fit-content;
}

.input-url {
  width: 75%;
}

form td {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
form td label {
  text-transform: none;
  margin: 0 0 0.25em 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay .card.modal {
  position: unset;
}

.project-urls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;
}

.versions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}
.versions h4 {
  text-transform: uppercase;
}
.versions .current-version {
  text-align: center;
}
.versions .upcoming-versions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.versions .feature {
  text-align: right;
}

.checklist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0 1rem 1rem;
}
.checklist span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.checklist span h4 {
  text-transform: capitalize;
}

.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 1000px;
  width: 100%;
}

.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
.color-row .color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}
.color-row .color .color-square {
  display: block;
  width: 4rem;
  height: 4rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  height: 25vh;
}
.gallery-row .gallery-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
}
.gallery-row .photo {
  max-width: 100%;
  max-height: 100%;
}

section {
  padding: 0 1rem 1.5rem;
}

.project-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;
}
.project-status progress {
  height: 1.5rem;
  background-color: green;
}

.project-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;
}
.project-type .project-type-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  padding: 0 1rem;
}
.project-type .project-type-row button h3 {
  text-transform: uppercase;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;
}
.project-details table tbody tr td {
  padding: 0;
}
.project-details table tbody tr td label {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}
.project-details table tbody tr td .company-name {
  text-transform: uppercase;
}

.project-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%;
  max-width: 1000px;
}

.project-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  width: 100%;
  max-width: 1000px;
}
.project-process .project-process-design,
.project-process .project-process-development,
.project-process .project-process-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}

.project-problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
  max-width: 1000px;
}
.project-problem p {
  width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0;
}

.project-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}

/*# sourceMappingURL=thfw-portfolio.css.map */
