@use '_project_card.scss';
@use '_project_tag.scss';
@use '_project_type.scss';

.front-page {
  section {
    min-height: fit-content;

    main.portfolio {
      margin: 0;
    }
  }
}

section {
  min-height: 100vh;

  main.portfolio {
    margin: 5rem 0;
  }
}