
@use '_gallery.scss';
@use '_project_urls.scss';
@use '_project_details.scss';
@use '_project_solution.scss';
@use '_project_process.scss';
@use '_project_problem.scss';
@use '_tax_list.scss';
@use '_project_team.scss';

section {
  min-height: 100vh;

  main.project {
    margin: 5rem 0;
    gap: 1.5rem;
  }
}
