.author-card.card {
    height: fit-content;

    .left {
        grid-area: Left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.375rem;
        height: 100%;

        .author-pic {
            width: 100%;

            a {
                font-size: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .right {
        grid-area: Right;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.75rem;
        height: 100%;

        p {
            text-align: left;
            height: 100%;
        }

        button {
            align-self: center;
        }
    }
}

@media screen and (min-width: 700px) {
    .author-card.card {
        display: grid;
        grid-template-areas: "Left Right";
        grid-template-columns: 1fr 2fr;
    }
}