@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.author-skills {
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.author-skills:before,
.author-skills:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
}

.author-skills:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.author-skills:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.author-skills:hover .author-skills-slide {
  animation-play-state: paused;
}

.author-skills-slide {
  display: flex;
  gap: 1.5rem;
  animation: 35s slide infinite linear;
}

.author-skills-slide i {
  font-size: 4rem;
  padding: 0;
}
