.author-card.card {
  gap: 0.374rem;
  height: fit-content;
  padding: 0;

  .author-pic {
    width: 300px;

    a {
      font-size: 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .author-role,
  .author-bio,
  .author-contact {
    width: 100%;
    padding: 0 0.5rem;
  }

  .author-role {
    h5 {
      text-transform: capitalize;
    }
  }

  p {
    text-align: left;
    height: 100%;
  }

  .author-contact {
    button {
      background-color: white;
      width: fit-content;
      padding: 0;
      margin: 0;

      i {
        color: black;
      }
    }
  }
}
