.author-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.author-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.75rem;
  max-width: 100%;
}

.author-pic {
  width: 100%;
  max-width: 75vw;
  padding: 0;
  font-size: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.author-greeting {
  width: 100%;
  padding: 0.75rem;
}

.author-card.card {
  gap: 0.374rem;
  height: fit-content;
  padding: 0;
  max-width: 500px;

  .author-role,
  .author-bio,
  .author-contact {
    width: 100%;
    padding: 0 0.5rem;
  }

  .author-role {
    h5 {
      text-transform: capitalize;
    }
  }

  p {
    text-align: left;
    height: 100%;
  }

  .author-contact {
    button {
      background-color: white;
      width: fit-content;
      padding: 0;
      margin: 0;

      i {
        color: black;
      }
    }
  }
}
