.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 1000px;
}

.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  width: 100%;

  .color {
    min-width: 40rem;
    height: 4rem;
  }
}
