.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 1000px;
  width: 100%;
}

.color-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;

  .color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;

    .color-square {
      display: block;
      width: 4rem;
      height: 4rem;
    }
  }
}
