details {
  summary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }

  summary::after {
    content: '\25BA'; /* Unicode arrow symbol */
    margin-left: 5px; /* Adjust the value as needed */
  }

  summary::after {
    display: none;
  }
}