.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  height: 25vh;

  .gallery-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
  }

  .photo {
    max-width: 100%;
    max-height: 100%;
  }
}
