.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 1000px;
  }
  
  .gallery-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    overflow-x: auto;
  
    .photo {
      width: 100%;
      height: auto;
    }
  }
  