.project-card {
  .project-featured-image {
    a {
      font-size: 0;

      img {
        width: 100%;
        max-height: 12.5rem;
      }
    }
  }

  .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .project-type {
    width: 100%;
  }
}