.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;

  table tbody tr td {
    padding: 0;

    label {
      text-align: right;
      text-transform: uppercase;
      font-weight: bold;
    }

    .company-name {
      text-transform: uppercase;
    }
  }
}
