.project-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;

  .project-type-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    width: 100%;
    padding: 0 1rem;

    button {
      h3 {
        text-transform: uppercase;
      }
    }
  }
}
