.project-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;

  .tag-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    width: 100%;
    flex-wrap: wrap;

    .tag {
      background-color: unset;
      box-shadow: none;
      color: black;
      font-weight: bold;
      border-radius: 15px;
    }

    .tag:hover {
      background-color: black;
      color: white;
      border-radius: 15px;
      cursor: pointer;
      box-shadow: var(--thfw-box-shadow);
    }
  }
}
