.project {
  .project-info,
  .project-solution,
  .project-process,
  .project-problem {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .project-type,
  .project-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  progress {
    height: 2rem;
    background-color: green;
  }

  .project-process {
    .project-process-design,
    .project-process-development,
    .project-process-delivery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
    }
  }

  .title {
    text-align: center;
    text-transform: uppercase;
  }
}
