.project-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
  max-width: 1000px;

  progress {
    height: 1.5rem;
    background-color: green;
  }
}
