@use '_portfolio.scss';
@use '_project.scss';
@use '_author.scss';
@use '_button.scss';
@use '_project_type.scss';
@use '_project_tag.scss';
@use '_details.scss';
@use '_input.scss';
@use '_form.scss';
@use '_modal.scss';
@use '_project_urls.scss';
@use '_the_client.scss';
@use '_versions.scss';
@use '_checklist.scss';
@use '_colors.scss';
@use '_gallery.scss';